@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: default;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1200px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 0.95fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-info {
    margin-top: 20px;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    /* remove dots */
    list-style: none;
    position: relative;
    margin: 5px 0;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contact-info ul li h5 {

    color: #fff;
    font-weight: 300;
}

.contact-info ul li span {

    color: #fff;
    font-weight: 300;
}

.contact-info.education li {
    margin-bottom: 15px;
}

.contact-info.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contact-info.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contact-info.education h4 {
    color: #fff;
    font-weight: 300;
}

.contact-info.lang .percent {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 6px;
    background: #081921;
    display: inline-block;
}

.contact-info.lang .percent div {
    position: absolute;
    height: 100%;
    background: rgb(3, 169, 244, 1);
    top: 0;
    left: 0;
}


.contact-info ul li a {

    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.about-interest ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-interest ul li {
    list-style: none;
    color: #fff;
    font-weight: 400;
    margin: 10px 0;
}

.about-interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin-right: 3px;
}

.profile-text .img-box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-text .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
}

.profile-text h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 30px;
}

.about:last-child {
    margin-bottom: 0;
}

.right-side-title {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about p {
    color: #333;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

hr {
    height: 1px;
    background-color: #848c90;
    border: none;
}

.about .box .year-company {
    min-width: 150px;
}

.about .box .year-company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .position h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.about .box .position h3 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 14px;
    margin-top: 5px;
}

.about-skills {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-skills .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30px;
    height: 30px;
    font-size: 21px;

    color: #003147;
    margin-right: 10px;
}

.about-skills .box a {
    text-decoration: none;
    display: flex;
    color: #2a7da2;
    flex-direction: row;
    align-items: center;
}

@media(max-width: 1200px) {

    .container {
        margin: 10px;
        grid-template-columns: 1fr;
    }

    .about-interest ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 700px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year-company {
        margin-bottom: 4px;
    }

    .about-interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-skills {
        grid-template-columns: repeat(1, 1fr);
    }
}